/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    /* text-decoration: #fff wavy underline; */
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

/* Section Styles */
section {
    margin-bottom: 40px;
}

h2 {
    margin-top: 0;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.skills-list li {
    list-style-type: disc;
    margin-left: 20px;
}

.education-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.education-list li {
    margin-bottom: 10px;
}

.education-list h3 {
    margin: 5px 0;
}

.links-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.links-list li {
    margin-bottom: 5px;
}

.links-list a:before {
    content: "• ";
}

.responsibility-list li {
    margin-bottom: 10px;
}

.projects-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.projects-list .project {
    margin-bottom: 20px;
}

.projects-list .project h3 {
    margin: 10px 0;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}